<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="VuelingExamenConfiguration" type="VuelingExamen.CrossCutting.ProjectConfiguration.CustomConfigLoader, VuelingExamen.CrossCutting.ProjectConfiguration"/>
  </configSections>
  <VuelingExamenConfiguration>
    <TextFilePath>C:\Users\davidjm\Desktop\Proyectos\rebelsTest.txt</TextFilePath>
  </VuelingExamenConfiguration>
</configuration>