<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Http" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63211/VuelingWebService.svc/WebService.svc"
                binding="basicHttpBinding" bindingConfiguration="Http" contract="WebReference.IVuelingWebService"
                name="Http" />
        </client>
    </system.serviceModel>
</configuration>